body {
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-image: url("Images/home_bg.png");
    background-size: cover;
    background-position: center;
    
}

section {
    background-color: rgb(14, 14, 14); 
    height: 100vh;
    flex: 1;  
    
}

blog {
    background-color: rgb(14, 14, 14); 
    height: 100vh;
    flex: 1;
    padding: 5% 30%; 
}

blog_m {
    background-color: rgb(14, 14, 14); 
    height: 100vh;
    flex: 1  
}

.carousel, blog_m, blog {
    margin-top: 96px;
}


/*DIVS*/
.box {
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(to right, rgb(218, 15, 83), rgb(54, 10, 175)); /* Gradient background */
    padding: 1px 2px;  
    display: flex;

}

.inner_box {
    border-radius: 10px; /* Match inner corners */
    background: black; /* Background of the inner box */
    
}

/*EFFECTS*/

.audio_img:hover {
    transform: scale(1.1); /* Slight zoom effect */
}


.carousel_section {
    position: relative; /* Ensures positioning context for the gradient */
}

/* Specific Gradient for .carousel_section */
.carousel_section::after{
    content: ""; /* Required for the ::after to render */
    position: absolute;
    bottom: 0;
    width: 100%; /* Cover the full width of the parent */
    height: 20px; /* Adjust height as needed */
    background: linear-gradient(to top, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Gradient */
}


/*CAROUSEL*/

.carousel {
    margin-top: 96px; 
}

.m-item {
    height: calc(100vh - 96px);
}
.m-img {
    object-fit: cover;
    height: 100%;
    /*filter: brightness(0.6);*/
}



/*FEATURES*/




/*IMAGES*/

.panda_img {
    height: 80px;
    width: auto; 
    
}

.audio_img {
    height: 30px;
    width: 60px; 
    cursor: pointer;
    transition: transform 0.2s;
}

.feature_img {
    height: 30px;
    width: auto;
    margin: 0 10px;
}

.star_img {
    height: 30px;
    width: auto; 
}

.profile_img {
    border-radius: 50%;
    height: 55px;
    width: auto;  
    box-shadow: 0px 0px 3px white;
}

.blog_img {
    width: 100%;          /* Makes the image fill the container's width */
    height: auto;        /* Adjust this value as needed */
    object-fit: cover;    /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px;
}

.feature_bg_gaming {
    background-image: url(Images/gaming_bg.gif);
}

.feature_bg_rewards {
    background-image: url(Images/rewards_bg.gif);
}

.feature_bg_streams {
    background-image: url(Images/streaming_bg.gif);
}


/* Mobile screens (750px and below) */
@media screen and (max-width: 1300px) {
    blog {
        padding: 6% 5%;
    }
}
@media screen and (max-width: 1600px) {
    .m-item {
        height: 100%;
    }
    .m-img {
        object-fit: cover;
    } 
}
@media screen and (max-width: 767px) {
    .bio {
        text-align: justify;
    }
    
}

/*BLOGS*/

.profile_text {
color: rgb(116, 116, 116);
}

.blog_subtitle, .blog_text, .blog_parter, .profile_text, .bio_text {
    font-family: "Proxima Nova", "Proxima Nova Fallback", sans-serif;
}

.blog_parter {
    margin-bottom: 4%; 
    font-weight: 750;
    color: rgb(255, 255, 255);
    
}

.blog_subtitle {
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    
}
.blog_text{
    margin-bottom: 10%;
    font-weight: 370;
    line-height: 1.6;
    color: rgb(212, 212, 212);
}

.blog_title {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/*HOMEPAGE*/

.feature_column {
    cursor: pointer;
    transition: transform 0.2s;
    border: 1px solid; /* Define the border (style, width, and color if needed) */
    border-radius: 0.75rem; /* Matches Bootstrap's `rounded-3` */
    padding: 1rem; /* Matches `p-3` (1 rem = 16px) */
    margin: 0.25rem; /* Matches `m-1` */
    min-height: 200px;
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks content vertically */
    justify-content: flex-end; /* Pushes content to the bottom */
    align-items: flex-start; /* Aligns content to the left */
    text-align: left; /* Ensures text aligns left */
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
}

.col:hover {
    transform: scale(1.04);   
}

/*AUDIO*/

/* Style for WebKit browsers (Chrome, Safari) */
input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%; /* Full width */
    height: 10px; /* Height of the slider */
    background: #000; /* Track background color set to black */
    border-radius: 5px; /* Rounded corners for the track */
    box-shadow: white 0 0 10px;
}

/* Style for the slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Make it round */
    box-shadow: white 0 0 10px;
    background: #000; /* Color of the thumb set to black */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Style for Firefox */
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Make it round */
    box-shadow: white 0 0 10px;
    background: #000; /* Color of the thumb set to black */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Style for the track in Firefox */
input[type="range"]::-moz-range-track {
    background: #000; /* Track background color set to black */
    border-radius: 5px; /* Rounded corners for the track */
    box-shadow: white 0 0 10px;
}

/* Optional: Style for the track in Microsoft Edge */
input[type="range"]::-ms-track {
    width: 100%; /* Full width */
    height: 10px; /* Height of the slider */
    background: transparent; /* Background color */
    border-color: transparent; /* No border */
    color: #000; /* Track color set to black */
    box-shadow: white 0 0 10px;
}

/* Style for the slider thumb in Microsoft Edge */
input[type="range"]::-ms-thumb {
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Make it round */
    box-shadow: white 0 0 10px;
    background: #000; /* Color of the thumb set to black */
    cursor: pointer; /* Pointer cursor on hover */
}

/*FOOTER*/

footer {
    background: black;
    color: rgba(177, 172, 172, 0.438);
    padding: 20px;
    text-align: center;
}
footer .social_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer .instagram_logo {
    background-image: url("Images/instagram.png");
    background-repeat: none;
    background-size: cover;
    margin: 0.5%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-indent: -9999999px;
}
footer .discord_logo {
    background-image: url("Images/discord.png");
    background-repeat: none;
    background-size: cover;
    margin: 0.5%;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -9999999px;
}